* {
    margin: 0px;
    padding: 0px
}

body {
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background: linear-gradient(to right, #1abc9c, #3498db, #9b59b6);
    align-items: center;
    align-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

.vernier-caliper {
    position: relative;
    margin: 30px auto;
    height: 60px;
    background: #d4a6a6;
    box-shadow: -2px 8px 35px 10px gray
}

.up-scale {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: fit-content;
    height: 40px;
    background-color: #808080
}

.contant {
    width: fit-content;
    border-radius: 12px;
    height: fit-content;
    background-color: #80808099;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.cm-mark {
    position: relative;
    width: 1px;
    height: 8px;
    background-color: red;
    margin-left: 3px;
    display: grid;
    align-content: stretch;
    justify-content: space-around;
    align-items: center
}

.cm-mark-10 {
    position: relative;
    width: 1px;
    height: 16px;
    background-color: red;
    margin-left: 3px;
    display: grid;
    align-content: stretch;
    justify-content: space-around;
    align-items: center
}

.cm-mark-5 {
    position: relative;
    width: 1px;
    height: 12px;
    background-color: red;
    margin-left: 3px;
    display: grid;
    align-content: stretch;
    justify-content: space-around;
    align-items: center
}

.cm-num {
    position: relative;
    width: fit-content;
    font-size: 5px;
    bottom: 8px;
    color: transparent
}

.cm-num-10 {
    position: relative;
    width: fit-content;
    font-size: 10px;
    bottom: 12px
}

button {
    width: fit-content;
    height: 20px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(118, 227, 118);
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(200, 227, 118)
}

.output {
    width: fit-content;
    height: 20px;
    color: transparent;
    margin: 40px auto
}

input {
    width: fit-content;
    height: 20px;
    margin: 40px auto;
    border: 2px solid rgb(118, 227, 118);
    border-radius: 10px;
    outline-offset: 2px
}

.down-scale {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: fit-content;
    height: 20px
}

.mark {
    position: relative;
    width: 1px;
    height: 10px;
    margin-left: 3px;
    margin-right: 4.52%;
    background-color: red
}

.mark-5 {
    position: relative;
    width: 1px;
    height: 6px;
    margin-left: 3px;
    margin-right: 4.52%;
    background-color: red
}

.cm-num-down {
    position: relative;
    width: fit-content;
    font-size: 6px;
    bottom: -1px;
    right: 1px
}

.cm-num-down-5 {
    position: relative;
    width: fit-content;
    font-size: 6px;
    bottom: -1px;
    color: transparent
}